
div.absolute{
   width: 7rem;
   left: 0rem;
   height: 5rem;
   position: absolute;
   border:1px solid red;
   background-color: red;
}
div.relative{
   width: 5rem;
   left: 1px;
   height: 5.5rem;
   position: relative;
   border:1px solid green;
   top: 8rem;
   background-color: green;
}
div.static{
   width: 4rem;
   right: 1rem;
   height: 4rem;
   position: static;
   border:1px solid blue;
   top: 12rem;
   background-color: blue;
}
div{
   width: 25rem;
   border: 2px solid rgb(0, 0, 0);
   position: relative;
   height: 20rem;
   margin-left: 10rem;
}

#img3{
    width: 2rem;
   right: 1rem;
   height: 3rem;
   position: static;
   border:1px solid blue;
   top: 12rem;
}